:root {
  /* Primary colors */

  --color-black: #151313;
  --color-white: #e7e7e7;

  /* ACCENTS  */

  --color-accents: #80091b;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-white);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Section */
.section {
  padding: 20px 0;
}
.section--white {
  background-color: var(--color-white);
  margin: 50px 0;
}
/* Container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}
.header__logo {
  margin-top: 65px;
}

.header__menu-wrap {
  width: 100%;
  background-color: var(--color-white);
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  margin: 0;
}
/* Link */
.link {
  text-decoration: none;
  color: var(--color-black);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.link:hover {
  color: var(--color-accents);
}

/* Intro */

.intro-section__container {
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.intro-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.intro-section__img {
  display: block;
  width: 50%;
  max-height: 545px;
}

.intro-section__title {
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 0.9;
  margin: 50px;
}

.intro-section__text {
  margin-bottom: 123px;
  text-align: center;
  max-width: 590px;
  font-size: 23px;
  padding: 0 30px;
}

/* About */

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.about__title {
  color: var(--color-black);
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 0.9;
}

.about__text {
  color: var(--color-black);
  text-align: center;
  max-width: 1120px;
  font-size: 23px;
}

/* Chefs */

.chefs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chefs__title {
  color: var(--color-white);
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 0.9;
}

.chefs-section__slider {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.chefs-section__container {
  overflow: hidden;
}

.chefs-section__list {
  margin-bottom: 32px;
}

.chefs-section__button {
  display: flex;
}

.chef-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 520px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-black) 100%
  );

  border-radius: 16px;
  transition: transform 0.3s;
  overflow: hidden;
}

.chef-card:hover {
  transform: scale(1.05);
}

.chef-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chef-card__title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-white);
  margin-bottom: 16px;
}

/* Carousel btn */
.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--color-white);
  fill: var(--color-white);
  cursor: pointer;
  flex-shrink: 0;
}
.carousel-button:hover {
  background-color: var(--color-white);
  fill: var(--color-black);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Paginator */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination__button {
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: var(--color-white);
  border-radius: 50%;
}

.pagination__button--active {
  background-color: var(--color-accents);
}

/* Menu */

.menu-section__container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 545px;
  background: linear-gradient(145deg, #1e2024 0%, #111111 100%);
}
.menu-section__img {
  display: block;
  width: 60%;
  max-height: 100%;
}

.menu-section__title {
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/* Buffet */
.buffet-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.buffet__header {
  display: flex;
  justify-content: space-between;
}
.buffet__img {
  display: block;
  width: 60%;
  max-height: 420px;
}

.buffet__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 40px;
  width: 40%;
}

.buffet__title {
  font-size: 45px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: right;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.buffet__text {
  margin-bottom: 120px;
  text-align: center;
  max-width: 420px;
  font-size: 15px;
  align-items: content;
  justify-content: center;
}

.buffet__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 75px;
}

.buffet__item {
  width: 30%;
}

.buffet-card__title {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.buffet-card__text {
  text-align: center;
  font-size: 15px;
}

/* Drinks */
.drinks-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.drinks__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.drinks__img {
  display: block;
  width: 60%;
  max-height: 420px;
}

.drinks__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 40px;
  width: 40%;
}

.drinks__title {
  font-size: 45px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: right;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.drinks__text {
  margin-bottom: 120px;
  text-align: center;
  max-width: 420px;
  font-size: 15px;
  align-items: content;
  justify-content: center;
}

.drinks__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 75px;
}

.drinks__item {
  width: 30%;
}

.drinks-card__title {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.drinks-card__text {
  text-align: center;
  font-size: 15px;
}

/* Wine list */

.wine-list-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.wine-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wine-list__img {
  display: block;
  width: 60%;
  max-height: 420px;
}

.wine-list__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 40px;
  width: 40%;
}

.wine-list__title {
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: right;
  align-items: center;
  margin-bottom: 20px;
}
.wine-list__text {
  margin-bottom: 120px;
  text-align: center;
  max-width: 420px;
  font-size: 15px;
  align-items: content;
  justify-content: center;
  line-height: 2.5;
}

.wine-list__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 75px;
}

.wine-list__item {
  width: 50%;
  max-width: 450px;
}

.wine-list-card__title {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  align-items: center;
}

.wine-list-card__text {
  font-size: 15px;
  text-align: center;
  align-items: center;
}

/* Footer */

.footer__container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 0;
}

.footer__title {
  color: var(--color-black);
  width: 100%;
  font-size: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 0.9;
}
.footer__content {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.icon__footer {
  fill: var(--color-black);
  cursor: pointer;
}

.icon__footer:hover {
  fill: var(--color-accents);
}

.footer__tel__number {
  font-size: 20px;
  color: var(--color-black);
  text-align: center;
}

@media (max-width: 990px) {
  /* Link */
  .link {
    font-size: 17px;
  }

  /* Intro */

  .intro-section__content {
    width: 45%;
  }

  .intro-section__title {
    font-size: 50px;
  }

  .intro-section__text {
    font-size: 17px;
  }

  /* About */

  .about__content {
    margin: 75px;
  }

  .about__title {
    font-size: 50px;
  }

  .about__text {
    font-size: 17px;
  }
  /* Chefs */

  .chefs__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chefs__title {
    color: var(--color-white);
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 0.9;
  }

  .chef-card {
    height: 420px;
    padding: 24px;
    width: 350px;
  }

  .chef-card:hover {
    transform: scale(1.05);
  }

  .chef-card__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-white);
    margin-bottom: 16px;
  }

  /* Carousel btn */
  .carousel-button {
    width: 32px;
    height: 32px;
  }
  .carousel-button:hover {
    background-color: var(--color-white);
    fill: var(--color-black);
  }

  /* Menu */

  .menu-section__container {
    margin-top: 100px;
  }
  .menu-section__img {
    display: block;
    width: 60%;
    max-height: 100%;
  }

  .menu-section__title {
    font-size: 50px;
  }

  /* Buffet */
  .buffet-section {
    margin-top: 70px;
  }

  .buffet__img {
    width: 60%;
    max-height: 420px;
  }

  .buffet__title {
    font-size: 45px;
  }
  .buffet__text {
    max-width: 420px;
    font-size: 15px;
  }

  .buffet-card__title {
    font-size: 20px;
  }

  .buffet-card__text {
    font-size: 12px;
  }

  /* Drinks */

  .drinks__img {
    display: block;
    width: 60%;
    max-height: 420px;
  }

  .drinks__title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .drinks__text {
    font-size: 15px;
  }

  .drinks-card__title {
    font-size: 20px;
  }

  .drinks-card__text {
    font-size: 12px;
  }

  /* Wine list */

  .wine-list__title {
    font-size: 35px;
    margin-top: 20px;
  }
  .wine-list__text {
    font-size: 12px;
  }

  .wine-list__item {
    width: 50%;
    max-width: 450px;
  }

  .wine-list-card__title {
    font-size: 20px;
    font-weight: 300;
  }

  .wine-list-card__text {
    font-size: 12px;
  }

  /* Footer */

  .footer__title {
    font-size: 50px;
    font-weight: 300;
  }
  .footer__content {
    gap: 25px;
  }

  .footer__tel__number {
    font-size: 15px;
  }
}

@media (max-width: 770px) {
  /* Link */
  .link {
    font-size: 15px;
  }

  /* Intro */

  .intro-section__container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .intro-section__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-section__img {
    width: 100%;
  }

  .intro-section__title {
    font-size: 50px;
    width: 100%;
  }

  .intro-section__text {
    font-size: 15px;
    width: 100%;
  }

  /* About */

  .about__content {
    margin: 75px;
  }

  .about__title {
    font-size: 50px;
  }

  .about__text {
    font-size: 17px;
  }
  /* Chefs */

  .chefs__title {
    font-size: 50px;
  }

  .chef-card {
    height: 375px;
    padding: 24px;
    width: auto;
  }

  .chef-card__title {
    font-size: 17px;
  }

  /* Carousel btn */
  .carousel-button {
    display: none;
  }
  /* Menu */

  .menu-section__container {
    display: flex;
    flex-direction: column;
    height: auto;
    background: none;
  }
  .menu-section__img {
    width: 100%;
    object-fit: cover;
  }

  .menu-section__title {
    font-size: 50px;
    font-weight: 300;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* Buffet */
  .buffet-section {
    display: flex;
    flex-direction: column;
  }

  .buffet__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buffet__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .buffet__header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    width: 100%;
  }

  .buffet__title {
    font-size: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .buffet__text {
    text-align: center;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .buffet__container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 35px;
  }

  .buffet__item {
    width: 30%;
  }

  .buffet-card__title {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }

  .buffet-card__text {
    text-align: center;
    font-size: 12px;
  }

  /* Drinks */
  .drinks-section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  .drinks__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .drinks__img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
  }

  .drinks__header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .drinks__title {
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .drinks__text {
    text-align: center;
    font-size: 15px;
    align-items: content;
    justify-content: center;
  }

  .drinks__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .drinks__item {
    width: 30%;
  }

  .drinks-card__title {
    text-align: center;
    font-size: 20px;
  }

  .drinks-card__text {
    text-align: center;
    font-size: 12px;
  }

  /* Wine list */

  .wine-list-section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  .wine-list__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .wine-list__img {
    display: block;
    width: 100%;
  }

  .wine-list__header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .wine-list__title {
    font-size: 50px;
    text-align: center;
    align-items: center;
  }
  .wine-list__text {
    text-align: center;
    font-size: 15px;
    align-items: content;
    justify-content: center;
  }

  .wine-list__container {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .wine-list__item {
    width: 50%;
    max-width: 450px;
  }

  .wine-list-card__title {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    align-items: center;
  }

  .wine-list-card__text {
    font-size: 12px;
    text-align: center;
    align-items: center;
  }

  /* Footer */

  .footer__container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0;
  }

  .footer__title {
    color: var(--color-black);
    width: 100%;
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 0.9;
  }
  .footer__content {
    gap: 20px;
  }

  .icon__footer:hover {
    fill: var(--color-accents);
  }

  .footer__tel__number {
    font-size: 12px;
    color: var(--color-black);
    text-align: center;
  }
}
